* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-cabecalho {
    width: 100vw;
    height: 8%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#FFFFFF;
    box-shadow: 3px 5px 15px rgba(17, 17, 17, 0.395);
}
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
}
.checkbox {
    height: 50px;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor:pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;   
}
.checkbox .trace {
    width: 45px;
    height: 1px;
    border: 2px solid;
    background-color: #c59565;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1) {
    top: 8px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2) {
    top: 25px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3) {
    top: 45px;
    transform: rotate(0);
}

#toggle {
    display: none;
}
.menu {
    position: absolute;
    top: 5px;
    left: 30px;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px #fff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-itens:hover {
    color: #14110e;
}
.menu-itens ul li a {
    margin: 50px 0;
    color: #8D6742;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 55px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms ease-in-out 0s;
}
.menu-itens li a:hover {
    color: #000;
}

/*MENU ANIMAÇÃO*/
#toggle:checked + .checkbox .trace:nth-child(1) {
    transform:rotate(45deg);
    top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2) {
    transform:translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
    top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 45px;
}

#toggle:checked + .checkbox {
    background-color: #c59565;
}
#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #c59565;
    z-index: 1;
}
#toggle:checked ~ .menu-itens {
    visibility: visible;
    opacity: 1;
}
/*----------------------SEGUNDO MENU VER MAIS-----------------------------------*/

.header-titulo {
  color: #8D6742;
  font-size: 20px;
}
span {
    font-weight: 100;
}
.menu-left ul {
    display: flex;
    list-style: none;

}
.menu-left a  {
    list-style: none;
    text-decoration: none;
    margin-right: 10px;
    color: #8D6742;
}

/*-----------------------------------------------------PRINCIPAL------------------------------------------------*/
#principal{
    width: 100vw;
    height: calc(100vh - 6vw);
    display: flex;
    justify-content: space-evenly;
    overflow-x: hidden;
}
.mostruario{
    margin-left: 30%;
}
.menu-lateral video{
    width: 40vw;
    height: 100vh;
    position: absolute;
    top: 6%;
    right: 67%;
   
}
.container1{
    position: relative;
    margin: 40px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #a5a5a7;
    border-radius: 20px;
    overflow: hidden;
    margin: 40px
}
.card:before{
    content:'';
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, 0.803);
    backdrop-filter: blur(4px);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.card:hover:before{
    clip-path: circle(300px at 80% 10%);
}
.imgBx{
    position: absolute; /*erro*/
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}
.card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-1deg);
    width: 300px;
}
.card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    transition: 1s;
}
.card:hover .contentBx{
    height: 180px;
}

.card .contentBx h2,
.card .contentBx h3{
    position: relative;
    font-weight:bolder;
    letter-spacing: 1px;
    color: rgba(50, 46, 46, 0.786);
}
.card .contentBx .size,
.card .contentBx .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.container .card .contentBx .size h3,
.card .contentBx .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0.5px;
    transition: 0.5s;
    color:#111;
    border-radius: 4px;
    cursor: pointer;
}
.card .contentBx .size span:hover{
    background: #c59565;
}
.card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.card .contentBx .color span:nth-child(2){
    background: #FF69B4;
}
.card .contentBx .color span:nth-child(3){
    background: black;
}
.card .contentBx .color span:nth-child(4){
    background: red;
}
.card .contentBx .color span:nth-child(5){
    background: white;
}
.card .contentBx a{
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000;
    border-radius: 4px;
    box-shadow: 0px 5px 8px rgb(104, 101, 101);
    text-decoration: none;
    font-weight: 600;
    color:#c59565;

}
.card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}
@media(max-width:2000px){
    .menu-lateral video {
        width: 40vw;
        height: 95vh;
        position: absolute;
        top: 7.7%;
        right: 69%;
       
    }
}
